

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'pretendard';
    background-color: rgb(243, 243, 243);
    height: 100vw;
}

#head {
    background-color: white;
    position: fixed;
    display: flex;
    width: 1280px;
    height: 230px;
    flex-wrap: wrap;
    z-index: 1000;
    transition: transform 0.5s ease;
}

.head1 {
    display: flex;
    width: 100%;
}

.logo {
    /* width: 990px; */
    width: 79%;
    text-align: center;
    height: 180px;
}

.img1 {
    margin-top: 60px;
    margin-left: 150px;
}

.img1:hover,
.img2:hover,
.img3:hover {
    cursor: pointer;
}

.img2 {
    margin-top: 40px;
}

.img3 {
    margin-top: 30px;
}

.fours {
    display: flex;
    flex-wrap: wrap;
    width: 260px;
    height: 180px;
}

.fours1 {
    width: 80px;
    height: 89px;
    line-height: 90px;
    text-align: center;
}

.fours2 {
    font-weight: 700;
    font-size: 18px;
    width: 176px;
    height: 89px;
}

.fours3 {
    width: 80px;
    height: 89px;
    line-height: 150px;
    font-size: 14px;
    /* border: 1px solid orange; */
    text-align: end;
}

.fours4 {
    width: 176px;
    height: 89px;
    line-height: 150px;
    font-size: 14px;
    text-align: center;
}

.button {
    border-top: 1px solid rgb(216, 215, 215);
    border-bottom: 1px solid rgb(216, 215, 215);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    line-height: 40px;
    font-weight: 700;
    font-size: 20px;
}

.button:hover,
#category:hover,
.room:hover {
    cursor: pointer;
}

.buttonsub1 {
    width: 317px;
    height: 100%;
    position: relative;
}

/* menubutton hover */
.buttonsub1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #6098FF;
    transform: scaleY(0.3);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    /* transition: transform 0.8s cubic-bezier(0.71, 0.11, 0.13, 1.02), opacity 0.4s; */
}

.buttonsub1:hover::before {
    opacity: 1;
    background-color: #6098FF;
    transform: scaleY(1);
}

/*  end menubutton hover */

#category {
    padding-top: 230px;
    display: 100%;
    height: 160px;
    display: flex;
    text-align: center;
}

.category_1,
.category_2,
.category_3,
.category_4 {
    width: 317px;
    height: 160px;
    /* 스크립트로 이벤트 줘서 변경할 것 */
    /* opacity: 0; */
    display: none;
    z-index: 1000;
    position: fixed;
}

/* 하위버튼 위치 고정 */
.category_2 {
    margin-left: 317px;
}

.category_3 {
    margin-left: 634px;
}

.category_4 {
    margin-left: 950px;
}

.categorysub1 {
    width: 317px;
    height: 40px;
    /* background-color: rgb(215, 242, 250); */
    background-color: white;
    /* 겹쳐지는지 확인여부 */

}

.categorysub1:hover {
    background-color: rgb(171, 228, 245);
}

a {
    text-decoration-line: none;
    color: black;
}



.head {
    width: 100%;
    height:50px;
    padding: 10px;
    text-align: center;
    position: fixed;
    background-color: white;
}
input {
    outline: none;
}
.body{
    display: flex;   
    height: 700px; 
    background-color: rgb(243, 243, 243);

}

/* 메뉴 css */
#mobileMenu{
    display: none;
}
.menuBox{
    width: 9%;
    min-width: 120px;
    max-width: 120px;
    text-align: center;
    border-radius: 10px;
    font-size: 13px;
    position: fixed;
    margin-left: 10px;

    user-select: none;  /* 글씨 선택 안됨 */
}
.menu {
    background-color: rgb(34, 50, 65);
    height: 35px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px grey;
    margin-bottom: 5px;
    border: 1px solid grey;
}
.menu:hover {
    background-color: rgb(34, 50, 65);
    cursor: pointer;
    color: white;
    transform: translateX(10px);
}
#welcome_admin{
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    border-radius: 10px;
    background-color: rgb(34, 50, 65);
    margin-bottom: 5px;
    box-shadow: 3px 3px grey;
}
.menu_class{  
    color: #969696;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.menu_class:hover {
    font-weight: bold;
    cursor: pointer;
    color: rgb(34, 50, 65);
}

#admin_class1,#admin_class2,#admin_class3,#admin_class4  {
    display: none;
}

#admin_notice{
    background-color: rgb(92, 106, 119);
    box-shadow: 1px 1px grey;
    color: white;
}


/* 메인 css */

.main{
    width: 89%;  
    min-width: 800px;
    padding: 30px 70px 70px 70px;
    background-color: rgb(243, 243, 243);
    margin-left: 100px; 
    display: flex;
    flex-direction: column;
}
.main_title{
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(34, 50, 65);
    margin-top: -50px;
    margin-bottom: 50px;
}
.mainBox {
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    border: 1px solid grey;
}

/* 글쓰기 버튼*/
.write{
    width: 80px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(34, 50, 65);
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 90%;
    box-shadow: 2px 2px grey;
    color: white;
    margin-bottom: 30px;
}
.write:hover{
    cursor: pointer;
}
/* 메인 제목 */
.rowBox{   
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    background-color: #444857;
}
.row {
    float: left;
    min-width: 180px;
    text-align: center;
    background-color: #444857;
    border-radius: 10px;
    color: #ffffff;
}


#number{
    width: 10%;
}
#title{
    width:70%
}
#del{
    width: 20%;
}

/* 메인 리스트 */
.mainBody{ 
    background-color: #ffffff;
    border-radius: 10px;
}

.infoBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.info{
    float: left;
    min-width: 180px;
    text-align: center;
    padding: 1px;
}
#noticeNo{
    width: 10%;
}
#noticeTitle{
    width: 80%;
}
#noticeTitle:hover {
    cursor: pointer;
    color: rgb(75, 112, 145);
    font-weight: bold;
}
#noticeButtonBox{
    width: 10%;
    padding-left: 50px;
}
.noticeButton{
    width: 80px;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #ffffff;
}
.noticeButton:hover{
    cursor: pointer;
    background-color: rgb(240, 244, 247);
}
/* page */
.pageBox{
    margin-top: 40px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
}
.pageNum{
    width: 30px;
    text-align: center;
    box-shadow: 2px 2px grey;
    border-radius: 10px;
    border: 1px solid grey;
    margin-left: 5px;
}
#pageNum1{
    background-color: rgb(34, 50, 65);
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    color: #ffffff;
}
.pageNum:hover{
    cursor: pointer;
}



